html {
    scroll-behavior: smooth;
}
 

body {
    font-family: 'Roboto';
    width: 100%;
    margin: 0%;
}

main {
    background-color: #F6F6F6;
}

/* Version  Desktop */
@media screen and (min-width: 992px) {

/*header*/
.header {
    background-color: #fff;   
}
.header h1 {
    margin-top:10px;
    padding: 0px;
    font-family: 'Shrikhand';
    font-size: 30px;
    color: #000;
}
.header .title-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
}

.header a {
    position: absolute;
    left: 5em;
}

.header img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}

/* menu */
.menu {
   
    display: flex;
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -70px;
   
}
.menu-container {
    
    width: 95%;
    margin: auto;

}
.food{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
  
}

.menu .menu-container > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h2 {
    font-family: "Shrikhand";
    font-size: 25px;
    font-style: italic;
}
.menu h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 100;
    color: #000;
    border-bottom: 2px solid  #99e2d0 ;
    width: 10%;
}
.menu .fa-heart {
    font-size: 30px;
}

a {
    color: black;
    text-decoration: none;
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.fa-arrow-left {
    position: relative;
    top: 20px;
    right: 45px;
    font-size: x-large;
}

.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/*entrees*/
.entrees-container{
    width: 30%;
}

.entree-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:10px ;
    cursor: pointer;
}

.entree {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.entree h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
    
}

.entree h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.entree p {
    margin-top: 0;
    font-weight: bold;
   
 }


 /*plats*/
 .plats-container{
    width: 30%;
 }
.plats-container .title div {
    height: 2px;
    width: 7%;
    background-color: #99e2d0;
    margin-top: 15px;
}

.plat-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:10px ;
    cursor: pointer;
}

.plat {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plat h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
}

.plat h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.plat p {
    margin-top: 0;
 }

 .plat .price{
    font-weight: bold;
 }

 /*desserts*/
 .desserts-container{
    width: 30%;
 }
.desserts-container .title div {
    height: 2px;
    width: 7%;
    background-color: #99e2d0;
    margin-top: 15px;
}

.dessert-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:10px ;
    cursor: pointer;
}

.dessert {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dessert h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
}

.dessert h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.dessert .price{
    font-weight: bold;
}

.dessert p {
    margin-top: 0;
 }

 .dessert .price{
    font-weight: bold;
 }
 /*bouton*/

 .btn-commander {
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }

.menu .bouton {
    background: linear-gradient( 170deg , #ff79da, #9356dc);
    color: white;
    font-size: large;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 4px 4px 2px lightgrey;
    padding: 1rem;
    cursor: pointer;
    width: 30%;
}
.bouton:hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 8px 8px 2px #acabab;
}
/* Footer */

footer {
    background:#303030;
}

.bloc-footer {
    display: flex;
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 5px;

    }

.bloc-footer ul {
    list-style: none;
    padding-left: 0%;
  }

.bloc-footer ul li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-left: 2px;
    
  }


.section-footer h2 { 
    font-family: "Shrikhand";
    font-style: italic;
    color: white;
    font-size: 20px;
    
}
.section-footer .icon {
   color: white;
   
}
}

/* Version  Tablette */
@media screen and (max-width: 992px) and (min-width: 768px) {

    /*header*/
.header {
    background-color: #fff;   
}
.header h1 {
    margin-top:10px;
    padding: 0px;
    font-family: 'Shrikhand';
    font-size: 30px;
    color: #000;
}
.header .title-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
}

.header a {
    position: absolute;
    left: 5em;
}

.header img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}

/* menu */
.menu {
   
    display: flex;
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -70px;
   
}
.menu-container {
    
    width: 95%;
    margin: auto;

}
.food{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
  
}

.menu .menu-container > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h2 {
    font-family: "Shrikhand";
    font-size: 25px;
    font-style: italic;
}
.menu h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 100;
    color: #000;
    border-bottom: 2px solid  #99e2d0 ;
    width: 10%;
}
.menu .fa-heart {
    font-size: 30px;
}

a {
    color: black;
    text-decoration: none;
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.fa-arrow-left {
    position: relative;
    top: 20px;
    right: 45px;
    font-size: x-large;
}

.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/*entrees*/
.entrees-container{
    width: 45%;
}
.entrees-container .title div {
    height: 2px;
    width: 7%;
    background-color: #99e2d0;
    margin-top: 15px;
}

.entree-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:10px ;
    cursor: pointer;
}

.entree {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.entree h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
    
    
}

.entree h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.entree p {
    margin-top: 0;
    font-weight: bold;
   
 }


 /*plats*/
 .plats-container{
    width: 45%;
 }


.plat-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:10px ;
    cursor: pointer;
}

.plat {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plat h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
}

.plat h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.plat p {
    margin-top: 0;
 }

 .plat .price{
    font-weight: bold;
 }

 /*desserts*/
 .desserts-container{
    width: 50%;
    margin: auto;
 }
.desserts-container .title div {
    height: 2px;
    width: 7%;
    background-color: #99e2d0;
    margin-top: 15px;
}

.dessert-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:10px ;
    cursor: pointer;
}

.dessert {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dessert h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
}

.dessert h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.dessert .price{
    font-weight: bold;
}

.dessert p {
    margin-top: 0;
    font-weight: bold;
 }

 .dessert .price{
    font-weight: bold;
 }
 /*bouton*/

 .btn-commander {
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }

.menu .bouton {
    background: linear-gradient( 170deg , #ff79da, #9356dc);
    color: white;
    font-size: large;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 4px 4px 2px lightgrey;
    padding: 1rem;
    cursor: pointer;
    width: 30%;
}
.bouton:hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 8px 8px 2px #acabab;
}
/* Footer */

footer {
    background:#303030;
}

.bloc-footer {
    display: flex;
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 5px;

    }

.bloc-footer ul {
    list-style: none;
    padding-left: 0%;
  }

.bloc-footer ul li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-left: 2px;
    
  }


.section-footer h2 { 
    font-family: "Shrikhand";
    font-style: italic;
    color: white;
    font-size: 20px;
    
}
.section-footer .icon {
   color: white;
   
}
}

/* Version  Mobile */
@media screen and (max-width: 768px) {
/*main*/


/*header*/
.header {
    background-color: #fff;   
}
.header h1 {
    margin-top:10px;
    padding: 0px;
    font-family: 'Shrikhand';
    font-size: 30px;
    color: #000;
}
.header .title-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
}

.header a {
    position: absolute;
    left: 5em;
}

.header img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}

/* menu */
.menu {
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -70px;
}
.menu-container {
    width: 90%;
    margin: auto;
}

.menu .menu-container > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h2 {
    font-family: 'Shrikhand';
    font-size: 25px;
    font-style: italic;
}
.menu h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 100;
    color: #000;
    border-bottom: 2px solid  #99e2d0 ;
    width: 10%;
   
}
.menu .fa-heart {
    font-size: 30px;
}

a {
    color: black;
    text-decoration: none;
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.fa-arrow-left {
    position: relative;
    top: 20px;
    right: 45px;
    font-size: x-large;
   
}

.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/*entrees*/

.entree-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:20px ;
    cursor: pointer;
    
}

}

.entree {
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

.entree h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
    
}

.entree h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.entree p {
    margin-top: 0;
    font-weight: bold;
 }

.selection {
    display: none;
    justify-content: center;
    align-items: center;
    color: #f6f6f6;
    background-color: #99e2d0;
    font-size: xx-large;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transform: translateX(100px);
    transition: all 700ms;
}

.selection:hover .fa-check-circle  {
    transform: rotate(359deg);
    transition: transform 700ms;
    
}

.entree-container:hover .selection {
    display: flex;
    width: 25%;
    transform: translateX(0px);
    cursor: pointer;
}

.entree-container:hover .entree {
    width: 65%;
}

 /*plats*/
.plats-container .title div {
    height: 2px;
    width: 7%;
    background-color: #99e2d0;
    margin-top: 15px;
}

.plat-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:20px ;
    cursor: pointer;
}

.plat {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plat h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
}

.plat h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.plat p {
    margin-top: 0;
    font-weight: bold;
 }
.plat .price{
    font-weight: bold;
}

 /*desserts*/
.desserts-container .title div {
    height: 2px;
    width: 7%;
    background-color: #99e2d0;
    margin-top: 15px;
}

.dessert-container {
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 15px;
    margin-top:20px ;
    cursor: pointer;
}

.dessert {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dessert h4 {
    width: 100%;
    font-family:'Roboto';
    font-weight: bold;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-end: 0px;
}

.dessert h5 {
    margin-top: 0;
    font-family: 'Roboto';
    font-weight: 50;
    display: block;
    font-size: 0.83em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dessert p {
    margin-top: 0;
    font-weight: bold;
 }
.dessert .price{
    font-weight: bold;
}
 /*bouton*/

 .btn-commander {
    margin-bottom: -20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }

.menu .bouton {
    background: linear-gradient( 170deg , #ff79da, #9356dc);
    color: white;
    font-size: large;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 4px 4px 2px lightgrey;
    padding: 1rem;
    cursor: pointer;
    width: 50%;
}
.bouton:hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 8px 8px 2px #acabab;
}
/* Footer */

footer {
    background:#303030;
}

.bloc-footer {
    display: flex;
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 0px;

    }

.bloc-footer ul {
    list-style: none;
    padding-left: 0%;
  }

.bloc-footer ul li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-left: 2px;
    
  }


.section-footer h2 { 
    font-family: "Shrikhand";
    font-style: italic;
    color: white;
    font-size: 20px;
    
}
.section-footer .icon {
   color: white;
   
}
}