html {
    scroll-behavior: smooth;
}
 

body {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.menu {
    display: flex;
}

nav.menu ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

nav.menu ul li a {
    text-decoration: none;
    color: Black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
}

nav.menu ul li a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* MAIN */

main {
    width: 95%;
    margin: auto;
}

.search-destination h1 {
    font-size: 25px;
}

.search-destination form {
    display: flex;
    height: 50px;
}

.search-destination form .fa-map-marker-alt {
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-destination form input {
    border-left: none;
    border-right: none;
    border-top: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}

.search-destination form input::placeholder {
    color: black;
}

.search-destination form button {
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
    padding: 15px;
    font-weight: bold;
}


.search-destination form button::before {
    content: "Rechercher";
}

.search-destination form .fa-search {
    display: none;
  } 

.filtres {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.filtres h2 {
    margin-right: 3%;
}

.conteneur-filtres {
    height: 50px;
    display: flex;
}

.filtre {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    margin-right: 5%;
}

.filtre:hover {
    border: 3px solid #0065FC;
}

.filtre:hover p {
    color: #0065FC;
}

.filtres span {
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 35px;
    margin-left: -5px;

}

.filtre p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.filtre-p-animaux {
    width: 150px;
}

.info {
    height: 50px;
    display: flex;
    margin-left: 5px;
}

.info-section {
    display: flex;
    align-items: center;
}

.info-section .circle-info {
    border: #F2F2F2 solid 2px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section p {
    padding-left: 10px;
    font-size: 16px;
}

.info-section i {
    font-size: 81%;

}
.hotel {
    display: flex;
}

.hebergement {
    background-color: #F2F2F2;
    width: 62%;
    border-radius: 15px 15px 15px 15px;
    padding: 1% 3%;
}

.conteneur-ligne {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2%;
}


.hotel h3 {
    padding-top: 15px;
    margin-left: 25px;
}



.hebergement img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.conteneur-img-1 {
    width: 25%;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-bottom: 2%;
}

.text-img {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-img h3 {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-img p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.star .blue {
    color: #0065FC;
}

.star .grey {
    color: lightgrey;
}

.afficher-plus {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}


.afficher-plus:hover {
    color: #0065FC;
    text-decoration: underline;
}

.plus-populaires {
    background-color: #F2F2F2;
    /* width: 30%; */
    margin-left: 3%;
    border-radius: 15px 15px 15px 15px;
    padding: 1% 2%;
}
.plus-populaires .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .plus-populaires h2 {
    padding-left: 5%;
} */

.conteneur-img-2 {
    width: 100%;
    /* margin: auto;    */
    margin-bottom: 25px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    display: flex;
    text-decoration: none;
    color: black;
}

/* .pop-img {
    width: 130px;
} */

.pop-2 {
    width: 200px;
}

.plus-populaires img {
    width: 130px;
    height: 110px;
    border-radius: 15px 0px 0px 15px;
    margin-left: 5px;
    object-fit: cover;
}

   /* Actitités */

.activites {
    width: 100%;
}

.activites-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.activite-colonne {
    width: 22%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ligne */

.activite-ligne {
    width: 100%;
    height: 100%;
}

.activite-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.activite-ligne .activite-card .activite-card-image {
    width: 100%;
    height: 450px;
}

.activite-card .activite-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.activite-card .activite-card-details {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

/* Linge 1 */

.activite-ligne-1 {
    width: 100%;
    height: 290px;
}

.activite-ligne-1 .activite-card .activite-card-image {
    width: 100%;
    height: 240px;
}

/* Linge 2 */

.activite-ligne-2 {
    width: 100%;
    height: 200px;
}

.activite-ligne-2 .activite-card .activite-card-image {
    width: 100%;
    height: 150px;
}


/* Footer */

   
  
  .section-footer {
    width: 30%;
  }

  .bloc-footer {
    display: flex;
    margin-top: 100px;
    background: #F2F2F2;
    width: 95%;
    padding: 0 2.5%;
  }

.bloc-footer ul {
    list-style: none;
    padding-left: 0%;
  }
  .bloc-footer ul li{
    margin: 10px 0;
}

  footer a {
    text-decoration: none;
    color: black;
  }
  footer a:hover {
    text-decoration: underline;
    color: #0065FC;
}

/* Version Mobile */
@media screen and (max-width: 768px) {

    header {
        width: 100%;
        flex-direction: column;
    }

    #div-logo {
        display: flex;
        justify-content: center;
    }

    nav.menu {
        width: 100%;
    }

    nav.menu ul {
        width: 100%;
    }

    nav.menu ul li {
        width: 50%;
    }

    nav.menu ul li a {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
    }

    nav.menu ul li a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*main*/
    main {
        width: 100%;
    }

    /*search-destination*/
    .search-destination  {
        width: 95%;
        margin: auto;
    } 

    .search-destination  h1 {
        font-size: 30px;
    }
    .search-destination form button::before {
        content: none;
    }
    .search-destination form input {
       
        font-size: 22px;   
    }
    .search-destination form .fa-search{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: #0065fc;
        color: white;
        cursor: pointer;
        width: 50px;
        margin-left: -50px;
      } 
    /*filters*/
    .filtres h2 {
       font-size: 20px;
    }
    .filtres {
        display: block;
        flex-direction: column;
    }
    .conteneur-filtres {
        flex-wrap: wrap;
        
    }
    .conteneur-filtres {
        height: 100%;
        
    }
    .conteneur-filtres a {
        margin-bottom: 2%;
    }
    /*info*/
    .info-section {
        margin-top: 0%;
    }
    
    .info-section p {
        font-size: 100%;
      }
     
    
    .info-section i {
       font-size: 80%;
    }
      
    /*hebergement*/
    .hotel {
        flex-direction: column-reverse;
    }

    .hebergement {
        width: 95%;
        background: none;
    }

    .conteneur-img-1 {
        width: 100%;
        margin-bottom: 20px;
      
    }
    .hebergement img {
        object-fit: cover;
        height: 180px;
    }
    /*plus-populaires*/
    .plus-populaires {
        margin-top: 20px;
        border-radius: 0;
        width: 100%;
        margin-left: 0;
    }
    .plus-populaires .title {
        width: 95%;
    }
    .conteneur-img-2 {
        width: 95%;
    }
   
    .plus-populaires img {
        height: 150px;
       }
    
       /*activité*/
    
    .activites {
        width: 95%;
        margin: auto;
    }
     .activites-card {
        flex-direction: column;
    }
    .activite-colonne {
        width: 100%;
        height: 100%;
    }
    .activite-colonne .activite-card {
        height: 200px;
        margin-top: 20px;
    }
    .activite-ligne .activite-card .activite-card-image {
        width: 100%;
        height: 75%;
    }
    .activite-ligne-1 {
        height: 100%;
    }
    .activite-ligne-2 {
        height: 100%;
    }
    .activite-ligne-1 .activite-card .activite-card-image {
        width: 100%;
        height: 75%;
    }
     
    /* FOOTER */
    .bloc-footer{
        flex-direction: column;
    }

    .section-footer {
        width: 100%;
    }


}
/* Version Mobile */
@media screen and (max-width: 992px) and (min-width: 768px) {
    /*header*/
    /*filte*/
    .conteneur-filtres a {
        margin-bottom: 2%;
    }
    .filtres {
        display: block;
        flex-direction: column;
    }
    .conteneur-filtres {
        flex-wrap: wrap;
        height: 100%;
    }
    /*info*/
    .info-section {
        margin-top: 15px;
    }
    
     /*hebergement*/
     .hebergement {
        width: 90%;  
    }
    
   .conteneur-ligne {
      width: 100%;
   }
    .hotel {
        flex-direction: column;
    }
    .plus-populaires {
        width: 90%;
        margin-left: 0;
        padding: 1% 3%;
        margin-top: 30px;
     }
    /*activite*/
  
   .activites-card {
    width: 100%;
    flex-wrap: wrap;
   }
   .activite-colonne {
    width: 45%;
    margin-top: 20px;
   }
  
    
}