html {
    scroll-behavior: smooth;
}
 

body {
    font-family: 'Roboto';
    width: 100%;
    margin: 0%;
}

main {
    background-color: #F6F6F6;
}

/* Version  Desktop */
@media screen and (min-width: 992px) {

/*header*/
.header {
    background-color: #fff;   
}
.header h1 {
    margin-top:10px;
    padding: 0px;
    font-family: 'Shrikhand';
    font-size: 30px;
    color: #000;
}
.header .title-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
}

.header a {
    position: absolute;
    left: 5em;
}

.header img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}

/* menu */
.menu {
   
    display: flex;
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -70px;
   
}
.menu-container {
    
    width: 95%;
    margin: auto;

}
.food{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
  
}

.menu .menu-container > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h2 {
    font-family: "Shrikhand";
    font-size: 25px;
    font-style: italic;
}
.menu h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    color: #000;
    border-bottom: 2px solid  #99e2d0 ;
    width: 10%;
}
.menu .fa-heart {
    font-size: 30px;
}

.fa-heart:hover {
    font-weight: 900;
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    color: black;
    text-decoration: none;
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.fa-arrow-left {
    position: relative;
    top: 20px;
    right: 45px;
    font-size: x-large;
}

.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/*entrees*/
.entrees-container{
    width: 30%;
}

.entree-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}
.four {
    animation-delay: 3.4s;
}
.entree-container .details h4,
.entree-container .details p,
.entree-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.entree-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.entree-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.entree-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.entree-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.entree-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.entree-container:hover .details {
    width: calc(100% - 170px);
}

.entree-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.entree-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}

.entree {
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

.entree h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}

.entree p {
margin-top: 0;
font-weight: bold;
}

 /*plats*/
 .plats-container{
    width: 30%;
 }
 .plat-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}
.plat-container .details h4,
.plat-container .details p,
.plat-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.plat-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.plat-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.plat-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.plat-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.plat-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.plat-container:hover .details {
    width: calc(100% - 170px);
}

.plat-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.plat-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}


.plat {
width: 93%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.plat h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}



.plat p {
margin-top: 0;
font-weight: bold;
}


 /*desserts*/
 .desserts-container{
    width: 35%;
 }
 .dessert-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}
.dessert-container .details h4,
.dessert-container .details p,
.dessert-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.dessert-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.dessert-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dessert-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dessert-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.dessert-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.dessert-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.dessert-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.dessert-container:hover .details {
    width: calc(100% - 170px);
}

.dessert-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.dessert-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}


.dessert {
width: 93%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.dessert h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}

.dessert p {
    margin-top: 0;
    font-weight: bold;
}
 /*bouton*/

 .btn-commander {
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }

.menu .bouton {
    background: linear-gradient( 170deg , #ff79da, #9356dc);
    color: white;
    font-size: large;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 4px 4px 2px lightgrey;
    padding: 1rem;
    cursor: pointer;
    width: 25%;
   
}
.menu .bouton:hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 8px 8px 2px #acabab;
}
/* Footer */

footer {
    background:#303030;
}

.bloc-footer {
    display: flex;
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 5px;

    }

.bloc-footer ul {
    list-style: none;
    padding-left: 0%;
  }

.bloc-footer ul li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-left: 2px;
    
  }


.section-footer h2 { 
    font-family: "Shrikhand";
    font-style: italic;
    color: white;
    font-size: 20px;
    
}
.section-footer .icon {
   color: white;
   
}
}

/* Version  Tablette */
@media screen and (max-width: 992px) and (min-width: 768px) {

    /*header*/
.header {
    background-color: #fff;   
}
.header h1 {
    margin-top:10px;
    padding: 0px;
    font-family: 'Shrikhand';
    font-size: 30px;
    color: #000;
}
.header .title-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
}

.header a {
    position: absolute;
    left: 5em;
}

.header img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}

/* menu */
.menu {
   
    display: flex;
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -70px;
   
}
.menu-container {
    
    width: 95%;
    margin: auto;

}
.food{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
  
}

.menu .menu-container > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h2 {
    font-family: "Shrikhand";
    font-size: 25px;
    font-style: italic;
}
.menu h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    color: #000;
    border-bottom: 2px solid  #99e2d0 ;
    width: 10%;
}
.menu .fa-heart {
    font-size: 30px;
}
.fa-heart:hover {
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: black;
    text-decoration: none;
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.fa-arrow-left {
    position: relative;
    top: 20px;
    right: 45px;
    font-size: x-large;
}

.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/*entrees*/
.entrees-container {
    width: 45%;
}

.entree-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}
.four {
    animation-delay: 3.4s;
}
.entree-container .details h4,
.entree-container .details p,
.entree-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.entree-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.entree-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.entree-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.entree-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.entree-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.entree-container:hover .details {
    width: calc(100% - 170px);
}

.entree-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.entree-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}

.entree {
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

.entree h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}

.entree p {
margin-top: 0;
font-weight: bold;
}
 /*plats*/
 .plats-container{
    width: 45%;
 }



 .plat-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}
.plat-container .details h4,
.plat-container .details p,
.plat-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.plat-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.plat-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.plat-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.plat-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.plat-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.plat-container:hover .details {
    width: calc(100% - 170px);
}

.plat-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.plat-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}


.plat {
width: 93%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.plat h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}



.plat p {
margin-top: 0;
font-weight: bold;
}



 /*desserts*/
 .desserts-container{
    width: 50%;
    margin: auto;
 }

 .dessert-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}

.dessert-container .details h4,
.dessert-container .details p,
.dessert-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.dessert-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.dessert-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dessert-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dessert-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.dessert-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.dessert-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.dessert-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.dessert-container:hover .details {
    width: calc(100% - 170px);
}

.dessert-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.dessert-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}


.dessert {
width: 93%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.dessert h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}

.dessert p {
    margin-top: 0;
    font-weight: bold;
}
 /*bouton*/

 .btn-commander {
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }

.menu .bouton {
    background: linear-gradient( 170deg , #ff79da, #9356dc);
    color: white;
    font-size: large;
    border-radius: 50px;
    border: none;
    text-align: center;
    box-shadow: 4px 4px 2px lightgrey;
    padding: 1rem;
    cursor: pointer;
    width: 35%;
}
.menu .bouton:hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 8px 8px 2px #acabab;
   }

/* Footer */

footer {
    background:#303030;
}

.bloc-footer {
    display: flex;
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 5px;

    }

.bloc-footer ul {
    list-style: none;
    padding-left: 0%;
  }

.bloc-footer ul li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-left: 2px;
    
  }


.section-footer h2 { 
    font-family: "Shrikhand";
    font-style: italic;
    color: white;
    font-size: 20px;
    
}
.section-footer .icon {
   color: white;
   
}
}

/* Version  Mobile */
@media screen and (max-width: 768px) {
/*main*/


/*header*/
.header {
    background-color: #fff;   
}
.header h1 {
    margin-top:10px;
    padding: 0px;
    font-family: 'Shrikhand';
    font-size: 30px;
    color: #000;
}
.header .title-container {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
}

.header a {
    position: absolute;
    left: 5em;
}

.header img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}

/* menu */
.menu {
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -70px;
}
.menu-container {
    width: 90%;
    margin: auto;
}

.menu .menu-container > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h2 {
    font-family: 'Shrikhand';
    font-size: 25px;
    font-style: italic;
}
.menu h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    color: #000;
    border-bottom: 2px solid  #99e2d0 ;
    width: 10%;
   
}
.menu .fa-heart {
    font-size: 30px;
}

.fa-heart:hover {
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    color: black;
    text-decoration: none;
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.fa-arrow-left {
    position: relative;
    top: 20px;
    right: 45px;
    font-size: x-large;
   
}

.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/*entrees*/

.entree-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}
.four {
    animation-delay: 3.4s;
}

.entree-container .details h4,
.entree-container .details p,
.entree-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.entree-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.entree-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.entree-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.entree-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.entree-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.entree-container:hover .details {
    width: calc(100% - 170px);
}

.entree-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.entree-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}




.entree {
width: 93%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.entree h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}

.entree p {
margin-top: 0;
font-weight: bold;
}

 /*plats*/
 .plat-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}

.plat-container .details h4,
.plat-container .details p,
.plat-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.plat-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.plat-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plat-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.plat-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.plat-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.plat-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.plat-container:hover .details {
    width: calc(100% - 170px);
}

.plat-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.plat-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}


.plat {
width: 93%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.plat h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}



.plat p {
margin-top: 0;
font-weight: bold;
}

 /*desserts*/
 .dessert-container {
    display: flex;
    align-items: flex-end;
    background-color: white;
    box-shadow: 6px 6px 26px lightgrey;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    height: 90px;
    overflow: hidden;
    opacity: 0;
    animation: load 3s alternate forwards;
}

@keyframes load {
    from {opacity: 0;}
    to {opacity: 1;}
}

.one {
    animation-delay: 1s;
}
.two {
    animation-delay: 1.8s;
}
.three {
    animation-delay: 2.6s;
}

.dessert-container .details h4,
.dessert-container .details p,
.dessert-container .prix p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.dessert-container .details {
    padding: 20px 0px 20px 20px;
    width: calc(100% - 100px);
}

.dessert-container .details h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dessert-container .details p {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dessert-container .prix {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 1s;
}

.dessert-container .prix p {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.dessert-container .valider {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    /* margin-right: -70px; */
    font-size: 20px;
    /* transition-duration: 1s;
    transform: translateX(0px); */
    margin: 0 -150px 0em 50px;
    transition-duration: 1s;
    transform: translateX(0px);
}

.dessert-container .valider i {
    transform: rotate(0deg);
    transition-duration: 1s;
}

.dessert-container:hover .details {
    width: calc(100% - 170px);
}

.dessert-container:hover .valider {
    /* margin-right: 0px; */
    transform: translateX(-50px);
}

.dessert-container:hover .valider i {
    transform: rotate(360deg);
    font-size: 1.5em;
}


.dessert {
width: 93%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.dessert h4 {
width: 100%;
font-family: 'Roboto';
font-weight: bold;
display: block;
margin-block-start: 0.3em;
margin-block-end: 0.3em;
margin-inline-end: 0px;

}

.dessert p {
    margin-top: 0;
    font-weight: bold;
}
 /*bouton*/

 .btn-commander {
    margin-bottom: -20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }

.menu .bouton {
    background: linear-gradient( 170deg , #ff79da, #9356dc);
    color: white;
    font-size: large;
    border-radius: 50px;
    border: none;
    text-align: center;
    word-break: break-word;
    box-shadow: 4px 4px 2px lightgrey;
    padding: 1rem;
    cursor: pointer;
    width: 40%;
}
.menu .bouton:hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 8px 8px 2px #acabab;
}
/* Footer */

footer {
    background:#303030;
}

.bloc-footer {
    display: flex;
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 0px;

    }

.bloc-footer ul {
    list-style: none;
    padding-left: 0%;
  }

.bloc-footer ul li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-left: 2px;
    
  }


.section-footer h2 { 
    font-family: "Shrikhand";
    font-style: italic;
    color: white;
    font-size: 20px;
    
}
.section-footer .icon {
   color: white;
   
}
}